.header {
  box-shadow: -0.5px 0.5px 5px 2px var(--bg-secondary-color);
  background-color: var(--bg-main-color);
  padding-top: 15px;
  padding-bottom: 15px;
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
