.header {
  box-shadow: -0.5px 0.5px 5px 2px var(--bg-secondary-color);
  padding-top: 15px;
  padding-bottom: 15px;
  background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.header__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
